<div>
	<!--Brands Carousel Widget-->
	<section class="brand-carousel">
		<div class="container">
			<h2>Brands in our shop</h2>
			<div class="inner">
				<a class="item" href="#"><img src="img\brands\jquery.png"
					alt="jQuery"></a> <a class="item" href="#"><img
					src="img\brands\wp.png" alt="WordPress"></a> <a class="item"
					href="#"><img src="img\brands\woo.png" alt="WooCommerce"></a>
				<a class="item" href="#"><img src="img\brands\android.png"
					alt="Android"></a> <a class="item" href="#"><img
					src="img\brands\macgasm.png" alt="Macgasm"></a> <a class="item"
					href="#"><img src="img\brands\dropbox.png" alt="Dropbox"></a>
			</div>
		</div>
	</section>
	<!--Brands Carousel Close-->
</div>