<div>
	<!--Subscription Widget-->
	<section class="subscr-widget">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-8 col-sm-8">
					<h2 class="light-color">Subscribe to our news</h2>

					<!--Mail Chimp Subscription Form-->
					<form class="subscr-form" role="form"
						action="//8guild.us3.list-manage.com/subscribe/post?u=168a366a98d3248fbc35c0b67&amp;id=d704057a31"
						target="_blank" method="post" autocomplete="off">
						<div class="form-group">
							<label class="sr-only" for="subscr-name">Enter name</label> <input
								type="text" class="form-control" name="FNAME" id="subscr-name"
								placeholder="Enter name" required="">
							<button class="subscr-next">
								<i class="icon-arrow-right"></i>
							</button>
						</div>
						<div class="form-group fff" style="display: none">
							<label class="sr-only" for="subscr-email">Enter email</label> <input
								type="email" class="form-control" name="EMAIL" id="subscr-email"
								placeholder="Enter email" required="">
							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;">
								<input type="text" name="b_168a366a98d3248fbc35c0b67_d704057a31"
									tabindex="-1" value="">
							</div>
							<button type="submit" id="subscr-submit">
								<i class="icon-check"></i>
							</button>
						</div>
					</form>
					<!--Mail Chimp Subscription Form Close-->
					<p class="p-style2">Please fill the field before continuing</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-1">
					<p class="p-style3">Lorem ipsum dolor sit amet, consectetur
						adipisicing elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
						exercitation ullamco.</p>
				</div>
			</div>
		</div>
	</section>
	<!--Subscription Widget Close-->
</div>